extends layout

block head
  include includes/rel.pug
  
block content
  h1= title
  if (query.length === 0)
    p Start you seach
  
  section#search-bar
    form(action="/", method="get")
      label(for="username") Username 
      input#username(type="text", name="username", placeholder="Type a name", required, value=query) 
      input.button(type="submit", value="search")

  if (results)
    section#search-results
      if results
        .results-count
          span= results.totalCount + " results"
      ul.results
        each user in results.users
          include includes/user-card.pug

    include includes/pagination.pug
